# Ignore eclipse files
.classpath
.project
.settings

# Ignore user config files except the default
config/*
!config/default.conf

# Don't need the build files
target/

# Don't upload result PDF files
*.pdf
